.root {
    -fx-background-color: none;
}

.button {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;

    -fx-animated: none;
    -fx-effect: none;

    -fx-text-fill: #FFFFFF;
}

#genre-button {
    -fx-font-size: 12px;

    -fx-background-color: none;
    -fx-background-radius: 42px;

    -fx-border-color: #FFFFFF;
    -fx-border-radius: 42px;
    -fx-border-width: 0.75px;

    -fx-min-height: 27px;
    -fx-pref-height: 27px;
    -fx-max-height: 27px;

    -fx-padding: 4px 16px 4px 16px;
}