.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;
    -fx-text-fill: #1C1818;
}

#stats-header-label {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 18px;

    -fx-text-fill: #0055FB;
}

#stats-count-label {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 36px;

    -fx-text-fill: #000000;
}