.root {
    -fx-background-color: #F7F6F9;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;
    -fx-text-fill: #1C1818;

    -fx-effect: dropshadow(gaussian, rgba(204, 204, 204, 0.08), 19, 0, 4, 0);
}

.button {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;

    -fx-animated: none;
    -fx-effect: none;

    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-background-color: none;
    -fx-border-color: none;
    -fx-text-fill: #1C1818;
}

.button:hover {
    -fx-background-color: #F5F5F5;
}

#title-label {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 24px;

    -fx-text-fill: #1C1818;
}

/*Workaround for .button:pressed which doesn't work*/

#home-button-clicked {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;

    -fx-background-color: #1C1818;
    -fx-text-fill: #FFFFFF;

    -fx-background-image: url('../image/home-w-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

#library-button-clicked {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;

    -fx-background-color: #1C1818;
    -fx-text-fill: #FFFFFF;

    -fx-background-image: url('../image/library-w-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

#discover-button-clicked {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;

    -fx-background-color: #1C1818;
    -fx-text-fill: #FFFFFF;

    -fx-background-image: url('../image/discover-w-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

/*#watch-button-clicked are disabled by default*/

#home-button {
    -fx-background-image: url('../image/home-b-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

#home-button:hover {
    -fx-background-color: #F5F5F5;
}

#discover-button {
    -fx-background-image: url('../image/discover-b-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

#discover-button:hover {
    -fx-background-color: #F5F5F5;
}

#library-button {
    -fx-background-image: url('../image/library-b-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

#library-button:hover {
    -fx-background-color: #F5F5F5;
}

#watch-button {
    -fx-background-image: url('../image/watch-b-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;
}

#watch-button:hover {
    -fx-background-color: #F5F5F5;
}

#logout-button {
    -fx-background-image: url('../image/logout-icon.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px;

    -fx-padding: 0px 0px 0px 52px;

    -fx-text-fill: #D90437;
}

#logout-button:hover {
    -fx-background-color: #F5F5F5;
}