.root {
    -fx-background-color: white;
}

#signinButton {
    -fx-background-color: rgba(18, 23, 38, 1);
    -fx-background-radius: 5;
    -fx-border-color: none;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-animated: none;
    -fx-effect: none;
}

#signinButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(18, 23, 38, 0.4), 25, 0, 0, 5);
}

#signinButton:pressed {
    -fx-effect: none;
}

#usernameField, #passwordField {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.06);
    -fx-text-fill:rgba(18, 23, 38, 1);
}

#usernameField:focused, #passwordField:focused {
    -fx-border-color: rgba(0, 0, 0, 0.5);
}

