.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;
    -fx-text-fill: #1C1818;
}

.button {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;

    -fx-animated: none;
    -fx-effect: none;

    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#signin-button {
    -fx-background-color: #1C1818;
    -fx-border-color: none;
    -fx-text-fill: #FFFFFF;
}

#signin-button:hover {
    -fx-background-color: #454242;
}

#username-field, #password-field {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;

    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-border-color: #F2F2F2;
    -fx-text-fill: #787B7C;

    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 16px;
}

#username-field {
    -fx-background-image: url('../image/username-icon.png');
}

#password-field {
    -fx-background-image: url('../image/password-icon.png');
}

#username-field:hover, #password-field:hover {
    -fx-border-color: #0055FB;
}

#username-field:focused, #password-field:focused {
    -fx-border-color: #0055FB;
    -fx-text-fill: #1C1818;
    -fx-effect: dropshadow(gaussian, #E3EDFF, 5, 3, 0, 0);
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

/*TODO: it won't work*/
#username-field:filled, #password-field:filled {
    -fx-border-color: #F2F2F2;
    -fx-text-fill: #1C1818;
}

#google-button {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;

    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-border-color: #F2F2F2;
    -fx-text-fill: #161B2C;
}

#google-button:hover, #google-button:pressed {
    -fx-border-color: #161B2C;
}

.check-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;

    -fx-text-fill: #161B2C;
}

.check-box .box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;
    -fx-border-color: #E4E8EF;
    -fx-border-width: 1.5;
    -fx-border-radius: 3px;
}

.check-box:selected .box {
    -fx-background-color: #1C1818;
    -fx-background-radius: 2px;
    -fx-background-insets: 5px;
}

.check-box:selected .mark {
    -fx-background-color: transparent;
}